.App {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.asdf{
  width: 50%;
  height: 50%;
}

.lowerCase{
  text-transform: lowercase;
}

